body {
  background:#8FB9A8 ;
  margin: 0;
  padding: 0;
}
header {
/*   background: white; */
  padding: 20px 10px;
}
#aboutme {
/*   background: red; */
  padding: 40px 80px;
}
#tech {
  background: #FEFAD4;
  padding: 10px 10px;
}
#projects {
/*   background: orange; */
  padding: 10px;
  height: 400px;
}
footer{
  background: white;
  padding: 20px 10px;
}
.sociallink{
  margin: 6px;
  color: #FEFAD4;
}
#bio{
  color: #FEFAD4;
  margin: -395px 0px 0px 380px;
}
img{
  border-radius: 200px;
  width: 20%;
  height: auto;
  margin:5px 0px 50px 20px;
}
#bio p {
  font-size: 24px;
}
#bio h1 {
  font-size: 30px
}
#techicon{
  margin: 0px 600px 0px 600px;
}
#techicon i{
  margin: 10px 6px 0px 6px;
  color:  #8FB9A8;
}
#tech p{
  text-align: center;
  color:  #8FB9A8;
  font-size: 18px;
}
