body {
  margin: auto;
  height: 60%;
  width: 80%;
/*   border: 3px solid green; */
  padding: 60px 10px 30px 10px;
  background:#8FB9A8 ;
  color:#fff;
}

img {
  width: 25%;
  height: auto;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
/*   border: 3px solid green; */
}


#sociallink {
  color: #FEFAD4;
  text-decoration: none;
  padding: 5px;
  border: 3px solid white;
  border-color: #FEFAD4;
}

#linkbar {
/*   display: inline; */
/*   padding: 0px 0px 0px 60px; */
 float: right;
 margin:20px 570px 20px 20px;
}

.topsection {
  width: 97%;
  padding: 10px;
/*   border: 3px solid green; */
  margin: auto;
}

#button {
  width: 270px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #8FB9A8;
  text-decoration: none;
  float: right;
  margin: -160px 570px 0px 0px;
  background-color: #FEFAD4;
  font-size: 30px;
}

#button2 {
  width: 270px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #8FB9A8;
  text-decoration: none;
  float: right;
  margin: -80px 570px 0px 0px;
  background-color: #FEFAD4;
  font-size: 30px;
}

#bio {
  float: right;
/*   background-color: red; */
  margin: -250px 40px 0px 0px;
  text-color: #8FB9A8;
}

#tech {
  float: right;
}
