body {
  background:#8FB9A8 ;
  margin: 0;
  padding: 0;
}

header {
/*   background: white; */
  padding: 20px 10px;
}
#aboutme {
/*   background: red; */
  padding: 10px 80px;
}
#tech {
  background: #89BEA9;
  padding: 20px 10px;
}
#projects {
  background: orange;
  padding: 10px;
  height: 400px;
}
footer{
  background: white;
  padding: 20px 10px;
}
.sociallink{
  margin: 6px;
  color: #FEFAD4;
}
#bio{
  color: #FEFAD4;
  margin: -340px 0px 0px 380px;
}
img{
  border-radius: 30px;
  width: 18%;
  height: auto;
  margin:20px 0px 20px 20px;
}
#bio p {
  font-size: 24px;
}
#bio h1 {
  font-size: 30px
}
#techicon{
  margin: 0px 600px 0px 600px;
}
#techicon i{
  margin: 6px;
  color:  #FEFAD4;
}
#tech p{
  text-align: center;
  color:  #F7F4D4;
  font-size: 18px;
}
